## Data Science using Python Basics

**AGENDA**
* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

***DATA TYPES***

In [56]:
print(2+4)
print(10-5)
print(3*7)
print(24/8)
print(2**2)
print(10%2)
print((((7+12)*(21+0.5))/17))

6
5
21
3.0
4
0
24.029411764705884

In [57]:
num=80
name='salma'
sub='Math'
print('{x} scored {y} in {z}'.format(x=name,y=num,z=sub))

salma scored 80 in Math

***LIST:*** list is a collection of items that can be of any data type, including strings, integers, floats, and other lists. Lists are ordered, indexable, mutable, and dynamic. Lists are defined using square brackets[].

In [58]:
#Lists
salary=[3000,5000,9000]
name=['sam','jhon','jose']
print(salary[1])
print(name[1:2])
salary.append(8000)
name.append('anna')
salary[0]=1500
print(salary)
print(name)

5000
['jhon']
[1500, 5000, 9000, 8000]
['sam', 'jhon', 'jose', 'anna']

In [59]:
#nested lists
nest=[1,2,3,['a','b','c',[1.9,3.2,4.3]]]
print(nest[3][3][2])
print(nest[3][2])

4.3
c

***DICTIONARIES:*** dictionary (also known as a hash table or associative array) is a data structure that stores a collection of key-value pairs. Key-Value Pairs: Dictionaries store data as key-value pairs. Each key is unique and maps to a specific value.

In [60]:
X={'COL1':['A','B','C'],'COL2':[12,21,19]}
print(X)
print(X['COL2'])

{'COL1': ['A', 'B', 'C'], 'COL2': [12, 21, 19]}
[12, 21, 19]

***Tuple:*** tuple is a collection of objects that are ordered and immutable. Tuples are similar to lists, but they cannot be modified after creation.

In [79]:
tupl=(1,2,3,4,5)
print(tupl[0])
tupl[1]=1
tupl

1

TypeError: 'tuple' object does not support item assignment

***Sets:*** set is an unordered collection of unique elements. Sets are used to store multiple items in a single variable.

In [62]:
ss={11,2,3,3,3,3,4,5,2,2,1}
ss

{1, 2, 3, 4, 5, 11}

In [63]:
# Remove duplicates from a list
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [64]:
# Perform set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2)) 
print(set1.intersection(set2))

{1, 2, 3, 4, 5}
{3}

***Logic Operators***

In [65]:
print((1>2) and (2<3))
print((1 > 2) or (2 < 3))
print((1 == 2) or (2 == 3) or (4 == 4))

False
True
True

***if,elif, else Statements***

In [66]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

***For loop***

In [67]:
seq = [1,2,3,4,5]

In [68]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [69]:
for i in seq:
    print(i+i)

2
4
6
8
10

***While Loop***

In [70]:
i = 10
while i < 50:
    print('i is: {}'.format(i))
    i = i*2

i is: 10
i is: 20
i is: 40

***range***

In [71]:
for i in range(5):
    print(i)

0
1
2
3
4

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

***List comprehension:*** List comprehension is a concise way to create lists in Python. It consists of brackets containing an expression, which is executed for each element, along with the for loop to loop over the iterable.

In [73]:
x = [1,2,3,4]
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [74]:
[item**3 for item in x]

[1, 8, 27, 64]

In [75]:
fruits = ['apple', 'banana', 'cherry']
uppercase_fruits = [fruit.upper() for fruit in fruits]
print(uppercase_fruits)  # Output: ['APPLE', 'BANANA', 'CHERRY']

['APPLE', 'BANANA', 'CHERRY']

In [76]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)  # Output: [2, 4, 6]

[2, 4, 6]

In [77]:
numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_numbers = [x for sublist in numbers for x in sublist]
print(flattened_numbers)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
***Functions:*** function is a block of code that can be executed multiple times from different parts of your program

SyntaxError: invalid syntax (541419431.py, line 1)

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

In [ ]:
greet('salma')

Hello, salma!

In [ ]:
def add(a, b):
    return a + b

result = add(2, 3)
print(result)

5

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)
print(out)

4

***Lambda Expressions:*** Lambda expressions, also known as anonymous functions, are small, single-purpose functions in Python. They are defined using the lambda keyword and can take any number of arguments.

lambda arguments: expression

In [ ]:
sum = lambda x, y: x + y
print(sum(3, 4))

7

In [ ]:
vr=lambda var: var*2
print(vr(3))

6

***map & filter:*** The map() function applies a given function to each item of an iterable (such as a list, tuple, or string) and returns a map object.
The filter() function constructs an iterator from elements of an iterable for which a function returns true.

In [ ]:
seq = [1,2,3,4,5]
print(list(map(vr,seq)))
print(list(filter(lambda seq: seq%2 == 0,seq)))

[2, 4, 6, 8, 10]
[2, 4]

***Methods:*** method is a function that belongs to a class or object. Methods are used to perform actions on an object or to modify its state.

In [ ]:
str='Welcome to Python World'

In [ ]:
print(str.lower())
print(str.upper())
print(str.split())

welcome to python world
WELCOME TO PYTHON WORLD
['Welcome', 'to', 'Python', 'World']

In [ ]:
comment='ML Project #AI/ML #Python #Data'
comment.split('#')

['ML Project ', 'AI/ML ', 'Python ', 'Data']

In [ ]:
comment.split('#')[2]

'Python '

In [ ]:
lst=[1,2,4,8,9]
lst.pop()
print(lst)

[1, 2, 4, 8]